/*Fonts*/
.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.brygada-1918-regular {
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.alef-regular {
  font-family: "Alef", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alef-bold {
  font-family: "Alef", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
.tuffy-regular {
  font-family: "Tuffy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*Colours*/
.white-text {
  color: white;
}
.green-text {
  color: rgba(56, 128, 110, 1);
}
/*Page*/
body {
  margin: 0;
}
header,
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #63b1e6;
  height: 15.5rem;
  width: 100%;
}
header h1 {
  font-size: 2.5em;
}
.outline img {
  max-width: 7rem;
  align-self: baseline;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Containers*/
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30rem;
  align-items: center;
  justify-content: space-evenly;
}
.container h1 {
  font-size: 2em;
}
.container img {
  width: 15rem;
  height: auto;
}
.container a {
  text-decoration: none;
}
.container a:hover {
  text-decoration: underline;
  font-weight: 1000;
}
.container p {
  width: 15rem;
}
.link-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.ccp-container {
  background-color: rgba(10, 54, 65, 1);
}
/**.sp1-container {
}**/
.ccp-teaser {
  text-align: left;
}

.pe1-container {
  background-color: rgba(56, 128, 110, 1);
}
.pe1-container h1 {
  font-size: 1.5em;
}

/*Buttons*/
button {
  background: none;
  border: none;
  font-size: 1em;
}
button:hover {
  font-weight: 900;
  text-decoration: underline;
}
button:focus {
  font-weight: 900;
  text-decoration: underline;
}
/** Media queries **/

/*For phone*/

/*For desktop*/
@media (width > 875px) {
  main {
    flex-direction: row;
  }
  .container {
    min-height: 37rem;
    text-align: center;
  }
  .link-container {
    width: 15rem;
    text-align: center;
    align-self: center;
  }
  #ccp-text-container {
    display: none;
  }
  #sp1-text-container {
    display: none;
  }
  #pe1-text-container {
    display: none;
  }
}
